@use './../config';

.c-nav {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-nav__logo {
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    //padding: 8px;
    color: config.color('grey', 'light');
    text-decoration: none;

    &:hover,
    &:focus {
        color: config.$white;
    }

    img {
        width: 128px;
        height: 128px;    
    }
}

.c-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    // display: flex;
    // flex-wrap: wrap;
}

.c-nav__list-item {
    padding: 8px 0;
    //width: 20%;
    text-align: right;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: rgba(0,0,0,0.85); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    //margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }