<li>
	<article class="article">
		<h3>
			<a href="{{ entry.url }}">{{ entry.data.title if entry.data.title else entry.url }}</a>
		</h3>
		<p class="date">
			{% if entry.date %}
				Posted on <strong>{{ entry.date | asPostDate }}</strong>.
			{% endif %}
		</p>

		<p class="abstract">
			<a href="{{ entry.url }}"><img src="{{ entry.data.image }}" alt="{{ entry.data.title }}" class="c-banner" /></a>
		</p>

	</article>
</li>
