<form
  action="https://buttondown.email/api/emails/embed-subscribe/si"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/si', 'popupwindow')"
  class="embeddable-buttondown-form"
>
    <fieldset>
        <legend>Get Make Life Work in your inbox 📨</legend>
        <label for="bd-email">Your email</label>
        <input type="email" name="email" id="bd-email" placeholder="you@yourplace.com" />
        <input type="submit" value="Subscribe" />
        <p>
            <small>
                <a href="https://buttondown.email/si" target="_blank">Powered by Buttondown</a>
            </small>
        <p>
    </fieldset>
</form>

<footer class="l-main__footer c-footer">
    <p>
        <a href="/subscribe">Subscribe</a>
        <a href="/guest-guide">Guest Guide</a>
        <a href="/contact">Contact</a>
        <a href="/credits">Credits</a>
    </p>
    <p class="c-footer__content">{{ footer.text }}</p>
</footer>