<nav class="l-main__nav c-nav">
    <a href="/" class="c-nav__logo"><img src="/images/design/make-life-work-512.png" alt="Make Life Work" /></a>

    <ul class="c-nav__list">
        {% for tag in collections.seasonTagsList %}
        <li>
            <a href="/tag/{{tag}}/">{{tag}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>