---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag | slugify }}/
eleventyComputed:
  title: "{{ tag }} | Make Life Work Podcast"
  description: Posts tagged with {{ tag }}
---

<div class="container blog-container">
	<h1>{{ tag }}</h1>


	<ul class="post-listing">
	{% set categoryList = collections[ tag ] %}
	{% for entry in categoryList %}
		{% include 'entry.njk' %}
	{% endfor %}
	</ul>

</div>
