---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag | slugify }}/
eleventyComputed:
  title: "{{ tag }}"
  description: Blog posts tagged to the category {{ tag }} by Mike Street, Brighton based front-end developer
---

<div class="container blog-container">
	<h1>{{ tag }}</h1>
	<p class="subtitle">Showing posts from the category <strong>"{{ tag }}"</strong> </p>

	<div class="breadcrumb meta">
		<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/">
					<span itemprop="name">Home</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}/blog/">
					<span itemprop="name">Blog</span>
				</a>
				<meta itemprop="position" content="2">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href="{{ meta.site.url }}{{ page.url }}">
					<span itemprop="name">{{ tag }}</span>
				</a>
				<meta itemprop="position" content="3">
			</li>
		</ol>
	</div>

	<div class="post-listing">
		<ul class="post-listing-full">
		{% set categoryList = collections[ tag ] %}
		{% for entry in categoryList | reverse %}
			{% include 'entry.njk' %}
		{% endfor %}
		</ul>
	</div>
</div>
